

body {
	background-color: black;
}

a:link {
    color: cyan;
}

a:visited {
    color: #f39c12;
}

a:hover {
    background-color: lightgreen;
    color: black;
}

a:active {
    background-color: hotpink;
} 

@media screen and (min-width:769px) {
	.header{
		font-family: 'Russo One', sans-serif;
		text-align: center;
		margin-top: 20px;
		text-shadow:0px 0px 26px #f6f6f5,0px 0px 8px #89b094;
	}
	.content {
		position: relative;
		width: 720px;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.4);
		margin-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		border: solid red 2px;
		border-radius: 5px;
		overflow: auto;
		color: white;
		font-size: 1.2em;
	}
}


@media screen and (max-width:768px) {
	.header{
		font-family: 'Russo One', sans-serif;
		text-align: center;
		text-shadow:0px 0px 26px #f6f6f5,0px 0px 8px #89b094;
	}
	.content {
		position: static;
		max-width: 600px;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.4);
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		border: solid red 2px;
		border-radius: 5px;
	}
	.nav {
		color: white;
	}
	.nav li {
		display: inline;
	}
	.data {
		color: white;
	}
}